.content{
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    font-style: normal;
    font-weight: 400;

    color: #FFFFFF;
}
.content h3{
    font-size: 40px;
    font-weight: 400;
    margin-top: -20px;
}
.content .card{
    height: 200px;
    /* width: 800px; */
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background: linear-gradient(250.8deg, #FFFFFF 3.87%, #E1C2E7 31.78%, #9BD1DD 47.66%, #E8B4F0 63.06%, #FFFFFF 96.27%);
    border-radius: 15px;
}
.content .card i{
    padding: 60px;
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.content h4{
    font-size: 35px;
    font-weight: 500;
}
.content .btn{
    display: flex;
}
.content .btn button{
    height: 75px;
    width: 35%;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 5px solid #FFFFFF;
    border-radius: 50px;
    margin: auto;
    font-weight: 600;
}
/* second-content */
.second-content{
    margin-top: 8%;
    background-color: #fff;
    color: #000;
    margin-right: 75px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.second-content h1{
    font-size: 60px;
}
.second-content .btn-1 button{
    height: 75px;
    width: auto;
    font-size: 20px;
    color: #000;
    background: transparent;
    margin: auto;
    border: 5px solid #000000;
    border-radius: 50px;
    padding: 0 30px;
    font-weight: 600;
}
.second-content .btn-2 button{
    height: 75px;
    width: auto;
    font-size: 20px;
    color: #000;
    background: transparent;
    border: 5px solid #000000;
    border-radius: 50px;
    margin: 50px 0;
    padding: 0 30px;
    font-weight: 600;
}

/* third-content */
.third-content{
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3A3A3A;
    margin-top: -30px;
}
.third-content h3{
    font-style: Montserrat;
    font-size: 30px;
    font-weight: 400;
    padding: 35px;
}
.third-content .services{
    background-color: #fff;
    color: #000;
    height: 250px;
    margin-right: 70px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.third-content .services h3{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    line-height: 150px;
}
.third-content .card-1{
    background-color: #fff;
    color: #000;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border: 5px solid #CE70FF;
    box-sizing: border-box;
    border-radius: 10px;
}
.third-content .card-1 i{
    font-size: 50px;
}
.third-content .card-1 h2{
    font-size: 35px;
}

.third-content .cards .card-1:nth-child(1) i{
    color: rgba(255, 0, 184, 0.69);
}
.third-content .cards .card-1:nth-child(2) i{
    color: rgba(199, 39, 39, 0.81);;
}
.third-content .cards .card-1:nth-child(3) i{
    color: #808080;
}
.third-content .cards .card-1:nth-child(4) i{
    color: #000;
}
.third-content .cards .card-1:nth-child(5) i{
    color:  #248FB0;
}
.third-content .cards .card-1:nth-child(6) i{
    color: #E4F51C;
}
.third-content .cards .card-1:nth-child(7) i{
    color: #24D2D2;
}
.third-content .cards .card-1:nth-child(8) i{
    color:  #E67105;
}




/* Responsive */
@media (max-width: 768px) {
    
    .content h1{
        font-size: 40px;
    }
    .content h3{
        font-size: 35px;
    }
    .content .card{
        margin: 0 30px;
    }
    .content h4{
        font-size: 25px;
    }

    .second-content h1{
        font-size: 45px;
    }
}